Feature scaling is of two types

normalization : resulting values between 0 and 1
(value - min value) / (max value - min value)

Standardization : resulting values between -3 and 3
(value - average) / standard deviation

Import libraries

In [ ]:
import numpy as np

set up test data
sal : Salary

In [ ]:
sal=[52000, 60000, 70000]
age=[40, 44, 45]

calculate average and standard deviation of salary and age

In [ ]:
np.average(sal)

60666.666666666664

In [ ]:
np.average(age)

43.0

In [ ]:
np.std(sal)

7363.574011458174

In [ ]:
np.std(age)

2.160246899469287

print normalized and standardized values of salary

In [ ]:
for x in sal:
  n = (x - 52000) / (70000 - 52000)
  s = (x - 60667) / 7364
  print("for salary ", x, " normalized value is ", n , " standardized value is ", s)

for  52000  normalized value is  0.0  standardized value is  -1.1769418794133624
for  60000  normalized value is  0.4444444444444444  standardized value is  -0.09057577403585008
for  70000  normalized value is  1.0  standardized value is  1.2673818576860403

print normalized and standardized values of age

In [ ]:
for x in age:
  n = (x - 40) / (45 - 40)
  s = (x - 43) / 2.16
  print("for age ", x, " normalized value is ", n , " standardized value is ", s)

for age  40  normalized value is  0.0  standardized value is  -1.3888888888888888
for age  44  normalized value is  0.8  standardized value is  0.4629629629629629
for age  45  normalized value is  1.0  standardized value is  0.9259259259259258